{
	"workerport":2349,
	"httpport":2350,
	"default":"nh",
	"pools":
	[ 
		{
			"symbol":"itns",
			"name":"izlkfjdflkjgdlfkgjdflkgjdlkfgj",
			"host":"45.32.171.89",
			"port":"9999"
		},{
			"symbol":"xun",
			"name":"Xunhfkjfhlkdfjglkdfjgdlkfgjdlkfgjdflkg",
			"host":"78.47.92.206",
			"port":"9999"
		},{
			"symbol":"etn",
			"name":"etndfglkdjfgldkjfgkldjfglkjfg",
			"host":"pool.etn.spacepools.org",
			"port":"7777"
		},{
			"symbol":"msr",
			"name":"5q9dflkjdflgkdjfgdfgdfgdfgdfg",
			"host":"masari.superpools.net",
			"port":"8889"
		},{
			"symbol":"nh",
			"name":"38efCkzYVUrojQAjuBAQHpudVpKKuaqxrZ.pr",
			"host":"cryptonight.eu.nicehash.com",
			"port":"3355"
		}
	]
}
